<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lichuachua.blog.blogserver.mapper.UserMapper">

    <insert id="register" parameterType="com.lichuachua.blog.blogserver.entity.User">
        INSERT INTO bg_user(user_id, mobile, password, nick_name, user_avatar, status, created_at, updated_at)
         VALUES (#{userId},#{mobile},#{password},#{nickName},#{userAvatar},#{status},#{createdAt},#{updatedAt})
    </insert>

    <select id="findByMobile" resultType="com.lichuachua.blog.blogserver.entity.User" parameterType="java.lang.String">
        SELECT * FROM bg_user WHERE mobile = #{mobile}
    </select>

    <select id="login" parameterType="com.lichuachua.blog.blogserver.form.UserLoginForm" resultType="com.lichuachua.blog.blogserver.entity.User">
        SELECT * FROM bg_user WHERE mobile = #{mobile} AND password = #{password}
    </select>

</mapper>